.weatherBg{
  background:url(./Asset/pexels-aleksejs-bergmanis-681391.jpg) ;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: white;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weathericon{
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 50px;
  font-weight: 700;
}